* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
video,
canvas {
  max-width: 100%;
}

.container .row::before,
.container .row::after {
  clear: both;
  content: '';
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.container .row {
  width: 100%;
}

.container .row .col-1 {
  float: left;
  width: 8.33333%;
}

.container .row .col-2 {
  float: left;
  width: 16.66667%;
}

.container .row .col-3 {
  float: left;
  width: 25%;
}

.container .row .col-4 {
  float: left;
  width: 33.33333%;
}

.container .row .col-5 {
  float: left;
  width: 41.66667%;
}

.container .row .col-6 {
  float: left;
  width: 50%;
}

.container .row .col-7 {
  float: left;
  width: 58.33333%;
}

.container .row .col-8 {
  float: left;
  width: 66.66667%;
}

.container .row .col-9 {
  float: left;
  width: 75%;
}

.container .row .col-10 {
  float: left;
  width: 83.33333%;
}

.container .row .col-11 {
  float: left;
  width: 91.66667%;
}

.container .row .col-12 {
  float: left;
  width: 100%;
}

body {
  font-family: "Nunito", sans-sefif;
  background-image: url(../img/background_main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 12px;
  min-height: 100vh;
}

@media (min-width: 480px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 24px;
  }
}

nav {
  background: #000;
  height: 3em;
  color: #e6ebef;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav p {
  margin: 1em;
  font-size: 1.5em;
}

nav span {
  color: #5789db;
  font-weight: bold;
}

.search-box {
  margin: 2em auto;
  background-color: #fff;
  border-radius: 5px;
}

input[type=text] {
  padding: 0.6em;
  border: 0;
  display: block;
  font-size: 1.5em;
  color: #a09aa0;
  font-family: "Nunito", sans-sefif;
  margin: 5px;
}

.search-icon {
  height: 4em;
  background: url(../img/loupe.jpg) no-repeat center/contain;
  margin: 0.2em 0;
  opacity: 0.8;
}

.weather-current {
  background: #000;
  opacity: 0.8;
}

.weather-current .weather-current_heading {
  color: #5789db;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  font-weight: bold;
  text-transform: capitalize;
  word-spacing: 0.3em;
  letter-spacing: 2px;
  border-bottom: 2px solid #e6ebef;
  overflow: hidden;
  white-space: nowrap;
}

.weather-current_temperature {
  color: #e6ebef;
  font-size: 2.5em;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}

.weather-current_city {
  color: #e6ebef;
  font-size: 2em;
  padding: 0.5em;
}

@media (min-width: 768px) {
  .weather-current_city {
    padding: 1em;
  }
}

.weather-current_description {
  color: #e6ebef;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.weather-current_icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.weather-current_icon img {
  height: 20vh;
}

@media (min-width: 768px) {
  .weather-current_icon img {
    height: 25vh;
  }
}

.weather-forecast {
  background: #000;
  opacity: 0.8;
  margin-top: 1em;
}

.weather-forecast .forecast-heading {
  color: #5789db;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  font-weight: bold;
  text-transform: capitalize;
  word-spacing: 0.3em;
  letter-spacing: 2px;
  border-bottom: 2px solid #e6ebef;
  overflow: hidden;
  white-space: nowrap;
}

.weather-forecast_day {
  display: flex;
  justify-content: center;
  color: #e6ebef;
  font-size: 1.5em;
  padding: 0.3em 0;
  overflow: hidden;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .weather-forecast_day {
    padding: 0.5em;
  }
}

.weather-forecast_temperature {
  color: #e6ebef;
  font-size: 1em;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  word-spacing: 1.5em;
  margin-bottom: 1em;
  padding: 1em;
}

.weather-forecast_temperature_max {
  font-weight: bold;
  font-size: 1.25em;
}

.weather-forecast_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-forecast_icon img {
  height: 20vh;
}

@media (min-width: 768px) {
  .weather-forecast_icon img {
    height: 20vh;
  }
}

.my-locations {
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.my-locations div {
  color: #e6ebef;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7vh;
  border-radius: 5px;
}

@media (min-width: 640px) {
  .my-locations div {
    min-height: 10vh;
  }
}

.my-locations div:first-of-type {
  background: #5789db;
  margin-right: 1em;
}

.my-locations div:nth-of-type(2) {
  background: #081a38;
  margin-left: 1em;
}

.my-locations a {
  text-decoration: none;
  color: #e6ebef;
}

.locations-list {
  background: #000;
  opacity: 0.8;
  min-height: 100vh;
  width: 100%;
  padding: 2em;
}

.locations-list li {
  width: 45%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: #e6ebef;
  margin-top: 2em;
  min-height: 5vh;
  background: #5789db;
  margin: 1em auto;
}

@media (min-width: 768px) {
  .locations-list li {
    height: 7vh;
  }
}

.locations-list .location-remove {
  color: #e6ebef;
  font-size: 1.5em;
}

.locations-list .location-remove:hover {
  cursor: pointer;
}

.locations-list p {
  color: #e6ebef;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: 2px solid #e6ebef;
  padding-bottom: 0.5em;
  text-align: center;
}

.link-main_page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-top: 2em;
  color: #e6ebef;
}

@media (min-width: 640px) {
  .link-main_page {
    font-size: 1.5rem;
  }
}

@media (min-width: 980px) {
  .link-main_page {
    font-size: 2rem;
  }
}

.link-main_page a {
  color: #e6ebef;
}

.my-locations_check a {
  text-decoration: none;
  color: #e6ebef;
}

.no-locations-message {
  text-align: center;
  height: 100vh;
  font-size: 1.5em;
  background: #000;
  opacity: 0.8;
  padding: 2em;
  color: #e6ebef;
}

.alert-message img {
  height: 50px;
}

.alert-message div:nth-of-type(2) {
  font-weight: bold;
  font-family: "Nunito", sans-sefif;
}