* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
video,
canvas {
  max-width: 100%;
}

.container .row::before,
.container .row::after {
  clear: both;
  content: '';
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.container .row {
  width: 100%;
}

.container .row .col-1 {
  float: left;
  width: 8.33333%;
}

.container .row .col-2 {
  float: left;
  width: 16.66667%;
}

.container .row .col-3 {
  float: left;
  width: 25%;
}

.container .row .col-4 {
  float: left;
  width: 33.33333%;
}

.container .row .col-5 {
  float: left;
  width: 41.66667%;
}

.container .row .col-6 {
  float: left;
  width: 50%;
}

.container .row .col-7 {
  float: left;
  width: 58.33333%;
}

.container .row .col-8 {
  float: left;
  width: 66.66667%;
}

.container .row .col-9 {
  float: left;
  width: 75%;
}

.container .row .col-10 {
  float: left;
  width: 83.33333%;
}

.container .row .col-11 {
  float: left;
  width: 91.66667%;
}

.container .row .col-12 {
  float: left;
  width: 100%;
}

body {
  font-family: "Nunito", sans-sefif;
  background-image: url(../img/background_main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-size: 12px;
}

@media (min-width: 480px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 24px;
  }
}

header {
  margin: 2em;
  background-color: #fff;
  border-radius: 5px;
}

.menu {
  float: right;
  padding: .5em;
  height: 100%;
}

.menu span {
  background-color: #494649;
  display: block;
  height: .15em;
  margin: .5em;
  width: 100%;
}

input[type=text] {
  padding: .6em;
  border: 0;
  display: block;
  font-size: 1.5em;
  color: #a09aa0;
  font-family: "Nunito", sans-sefif;
  margin: 5px;
}

.search-icon {
  height: 4em;
  background: url(../img/loupe.jpg) no-repeat center/contain;
  margin: .2em 0;
  opacity: .8;
}

.weather-current {
  background: #000;
  opacity: .8;
}

.weather-current_temperature {
  color: #e6ebef;
  font-size: 2.5em;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}

.weather-current_city {
  color: #e6ebef;
  font-size: 2em;
  padding: .5em;
}

@media (min-width: 768px) {
  .weather-current_city {
    padding: 1em;
  }
}

.weather-current_description {
  color: #e6ebef;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.weather-current_icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.weather-current_icon img {
  height: 20vh;
}

@media (min-width: 768px) {
  .weather-current_icon img {
    height: 30vh;
  }
}