body {
  font-family: $font-main;
  background-image: url('../images/background_main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 12px;
  min-height: 100vh;;
  @media (min-width : 480px) {
    font-size: 16px;
  }
  @media (min-width: 768px) {
    font-size: 24px;
  }
}

nav {
  background: map-get($color-background, main);
  height: 3em;
  color: map-get($color-fonts, menu);
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 1em;
    font-size: 1.5em;
  }

  span {
    color: map-get($color-fonts, highlight);
    font-weight: bold;
  }
}
